@charset "utf-8";

body{
    background-color: white;
    margin: 0px 8px 0px 8px;
}

.listcafe::-webkit-scrollbar {
    width: 9px;
}
.listcafe::-webkit-scrollbar-track {
    border-radius: 28px;
    background: rgba(132, 113, 107, 1);
}
.listcafe::-webkit-scrollbar-thumb {
    border-radius: 38px;
    background: rgba(241, 231, 231, 1);
}
.listcafe::-webkit-scrollbar-button:start:decrement,
.listcafe::-webkit-scrollbar-button:end:increment{
    border-radius: 55px;
    height: 12px;
    background: black;
}

body::-webkit-scrollbar {
    width: 14px;
}
body::-webkit-scrollbar-track {
    border-radius: 45px;
    background: rgba(132, 113, 107, 1);
}
body::-webkit-scrollbar-thumb {
    border-radius: 45px;
    background: #edd9d1;
}
body::-webkit-scrollbar-button:start:decrement,
body::-webkit-scrollbar-button:end:increment{
    border-radius: 55px;
    background: black;
}

.box02_history::-webkit-scrollbar {
    width: 9px;
}
.box02_history::-webkit-scrollbar-track {
    border-radius: 28px;
    background: rgba(132, 113, 107, 1);
}
.box02_history::-webkit-scrollbar-thumb {
    border-radius: 38px;
    background: rgba(241, 231, 231, 1);
}
.box02_history::-webkit-scrollbar-button:start:decrement,
.box02_history::-webkit-scrollbar-button:end:increment{
    border-radius: 55px;
    height: 12px;
    background: black;
}

header {
    background-color: #edd9d1;
    justify-content: space-between;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    text-align: center;
    margin: auto;
    padding: 1%;
    box-shadow: 16px 15px 15px rgb(85 65 61 / 80%);
}
.logo img{
    max-width: 100%;
    height: 90px;
    width: 310px;
    margin: 1.5%;
}
.box00{
    background-color: #FDEFE9;
    border-radius:18px;
    justify-content: space-between;
    height: 70%;
    width: 85%;
    margin: auto;
}
.box01{
    justify-content: space-between;
    margin: 40px 200px 20px 200px;
    display : flex;
}
.listcafe{
    background-color: #edd9d1;
    border-radius:18px 18px;
    height: 510px;
    width: 55%;
    margin-right: 95px;
    box-shadow: 38px 15px 22px 14px rgba(85,65,61,1);
    overflow: auto;
}
.namacafe{
    font-size: 15px;
    font-weight: bolder;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
}
.job{
    font-size: 14px;
    color: red;
    margin-top: 3px;
}
.alamat{
    font-size: 14px;
    color: black;
}
.left{
    text-align: justify;
    margin: 24px 52px 60px 18px;
    line-height: 14px;
}
.left img{
    max-width: 100%;
    float: left;
    height: 110px;
    width: 110px;
    margin: 0px 28px 5px 0px;
    border-radius: 15px;
    display: block;
}
.right{
    text-align: justify;
    margin: 25px 24px 60px 88px;
    line-height: 14px;
}
.right img{
    max-width: 100%;
    float: left;
    height: 110px;
    width: 110px;
    margin: 0px 28px 5px 0px;
    border-radius: 15px;
    display: block;
}
.detail{
    background-color: #edd9d1;
    border-radius:18px 18px;
    height: 510px;
    width: 55%;
    margin-left: 94px;
    box-shadow: 38px 15px 22px 14px rgba(85,65,61,1);
}
.detail img {
    max-width: 100%;
    display:block;
    height: 150px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 20px;
}
.detail .img_utama{
    margin-right: 32%;
}
.detail .namacafe{
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
}
.detail .job{
    text-align: left;
    margin-top: 19px;
    margin-left: 59px;
    color: black;
    font-size: 16px;
}
.detail .chat{
    max-width: 100%;
    width: 30px;
    height: 30px;
    border-radius: 0px;
}
.listcafe .left button{
    background-color: transparent;
    border-color: transparent;
    height: 32px;
    width: 235px;
    text-align: justify;
    padding: 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.listcafe .left button:hover{
    color: #970FF2;
}
.listcafe .right button{
    background-color: transparent;
    border-color: transparent;
    height: 42px;
    width: 125px;
    text-align: justify;
    padding: 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.listcafe .right button:hover{
    color: #970FF2;
}
.persyaratan{
    text-align: left;
    margin-top: 19px;
    margin-left: 79px;
    color: black;
    font-size: 18px;
}
.animasi_overlay .close{
    width: 26px;
    height: 26px;
    max-width: 100%;
    float: right;
    margin-top: 2%;
    margin-right: 6%;
    opacity: 50%;

}
#button_history img{
    position: absolute;
    max-width: 100%;
    width: 30px;
    height: 30px;
    top: 0.5%;
    right: 2%;
    float: right;
    size: 100%;
}
#button_history .logo_history:hover{
    opacity: 0%;
}
#button_history{
    position: relative;
    max-width: 100%;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 1%;
    margin-right: 2%;
    padding: 0px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
#history{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: initial;
}
.box01_history{
    background-color: #C2B69E;
    max-width: 100%;
    width: 30%;
    height: 645px;
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    border-radius: 38px;
}
.box02_history{
    background-color: #EDD9D1;
    max-width: 100%;
    width: 98%;
    height: 99%;
    margin: auto;
    padding: 1.5%;
    border-radius: 24px;
    overflow: auto;
}
.gelembung_pesan{
    max-width: 100%;
    width: 90%;
    height: 70px;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(128,128,128,0.5);
    border-radius: 8px;
    line-height: 14px;
    text-align: justify;
    display: flex;
}
.gelembung_pesan img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 1%;
    margin-top: 2%;
    display: flex;
}
.gelembung_pesan .namacafe{
    font-size: 18px;
    margin-left: 6px;
    margin-top: 2.4%;
}
.close{
    max-width: 100%;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 3%;
    margin-right: 6%;
    opacity: 50%;
}
.close:hover{
    opacity: 100%;
}
.tanda{
    text-color: rgba(85, 65, 61, 1);
    font-size: 12px;
    align: left;
}
@keyframes animasi{
    0%{
       transform: translateY(-20px);
       opacity: 0;
    }
    100%{
       transform: translateY(0px);
       opacity: 1;
    }
}
#overlay01 {
  position: static;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: initial;
  -webkit-animation-name:animasi ;
  -webkit-animation-duration: 2s ;
  -webkit-animation-timing-function: ease;
}
#overlay02 {
  position: static;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: initial;
  -webkit-animation-name:animasi ;
  -webkit-animation-duration: 2s ;
  -webkit-animation-timing-function: ease;
}
#overlay03 {
  position: static;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: initial;
  -webkit-animation-name:animasi ;
  -webkit-animation-duration: 2s ;
  -webkit-animation-timing-function: ease;
}
#overlay04 {
  position: static;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: initial;
  -webkit-animation-name:animasi ;
  -webkit-animation-duration: 2s ;
  -webkit-animation-timing-function: ease;
}
#overlay05 {
  position: static;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: initial;
  -webkit-animation-name:animasi ;
  -webkit-animation-duration: 2s ;
  -webkit-animation-timing-function: ease;
}
#overlay06 {
  position: static;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: initial;
  -webkit-animation-name:animasi ;
  -webkit-animation-duration: 2s ;
  -webkit-animation-timing-function: ease;
}
#overlay07 {
  position: static;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: initial;
  -webkit-animation-name:animasi ;
  -webkit-animation-duration: 2s ;
  -webkit-animation-timing-function: ease;
}

