 body{
    background-color: #edd9d1;
}

#main{
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    background-color: rgba(255,255,255,0.2);
    margin-top: 200px;
}

img{
    border: 2px brown solid;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin-left: 70px;
    position: absolute;
    margin-top: -200px;
    background-color: brown solid;
}

form input{
    margin: 10px;
    padding: 20px;
    border: 2px black solid;
    border-radius: 15px;
    width: 245px;
    margin-left: 10px;

}

form button{
    margin: 5px;
    padding: 10px;
    background-color: rgb(16, 16, 169);
    border: white;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    color: white;
    margin-left: 75px;
    cursor: pointer;
}

